body {
    background: url();
    background-size: cover;
    background-position: center;
}
body, html {
    height: 100%;
    margin: 0;
}
h1 {
    color: black;
    font-weight:10;
    font-size:5em;
    font-family: lato;
}
p {
    color: black;
    font-family: pacifico;   
}
hr {
    width:350px;
}
.wrapper {
    /* The image used */
    background-image: url("header.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Center text */
    text-align:center;
    padding-top: 25%;
}
