body {
    background: url();
    }
body, html {
    height: 100%;
    margin: 0;
}
h2 {
    color: darkslategrey ;
    font-weight:10;
    font-size:4em;
    font-family: lato;
}
p {
    color: black;
    font-family: pacifico;   
}
hr {
    width:300px;
    color:white;
}
.wrapper1 {
    background-image: url("images/header.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25%;
}
.wrapper2 {
    background-image: url("images/TheApp.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25%;

}
.form{
    width:100%;
    height:500px;
    background-position: center;
}#content1{
    text-align:center;
}
#content2{
    text-align:center;
}
.btn-secondary{
    border-radius:20px;
}
.btn-outline-light{
    border-radius:20px;
}
.button{
    border-radius:25px 10px
}
.fa-apple{
    font-size:5em;
    color:lavenderblush;
}
.fa-android{
    font-size:5em;
    color:green;
}
.link{
    text-decoration: none;
}
.font{
    font-size: 2em;
}
